window {
	background-color: #CD853F;
}

button {
	background-image: linear-gradient(#D2B48C, #D2B48C);
}

button:active {
	background-image: linear-gradient(#C69F6C, #C69F6C);
}

#unpressed {
	background-image: linear-gradient(#a0522d, #a0522d);
}

#button_black {
	background-image: linear-gradient(#000000, #000000);
}

#button_white {
	background-image: linear-gradient(#ffffff, #ffffff);
}

#start {
	background-image: linear-gradient(#C1FF1D, #C1FF1D);
}

#additional {
	background-image: linear-gradient(#D2B48C, #D2B48C);
}
